#!/bin/bash

export SPRING_APPLICATION_NAME=config-service
export SERVER_PORT=9000
export SPRING_CLOUD_CONFIG_SERVER_GIT_USERNAME=xxx
export SPRING_CLOUD_CONFIG_SERVER_GIT_PASSWORD=xxxx
export SPRING_CLOUD_CONFIG_SERVER_GIT_URI=xxxxx

export SECURITY_USER_NAME=xxxx
export SECURITY_USER_PASSWORD=xxxx